@inherits BasePage

@page "/{profileIdString}/enshrouded/gems"

<PageTitle>GameTools :: Enshrouded :: Upgrade Gems</PageTitle>

<RadzenRow AlignItems="AlignItems.Center">
    <RadzenLabel Text="Current gem level" Component="eCurrentGemLevel" />
    <RadzenNumeric Name="eCurrentGemLevel" @bind-Value="@_currentGemLevel" Min="1" Max="49" Step="1" Change="(int i) => OnChanged()" />
</RadzenRow>

<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Style="margin-top: 1rem;">
    <div>
        <RadzenCheckBox Name="chkUseSpringlandsNightSanctum" @bind-Value="@_useSpringlandsNightSanctum" Change="(bool _) => OnChanged()"/>
        <RadzenLabel Text="Use Springlands Night Sanctum" Component="chkUseSpringlandsNightSanctum"/>
    </div>

    <div>
        <RadzenCheckBox Name="chkUseRevelwoodNightSanctum" @bind-Value="@_useRevelwoodNightSanctum" Change="(bool _) => OnChanged()"/>
        <RadzenLabel Text="Use Revelwood Night Sanctum" Component="chkUseRevelwoodNightSanctum"/>
    </div>

    <div>
        <RadzenCheckBox Name="chkUseNomadHighlandsNightSanctum" @bind-Value="@_useNomadHighlandsNightSanctum" Change="(bool _) => OnChanged()"/>
        <RadzenLabel Text="Use Nomad Highlands Night Sanctum" Component="chkUseNomadHighlandsNightSanctum"/>
    </div>

    <div>
        <RadzenCheckBox Name="chkUseKindlewastesNightSanctum" @bind-Value="@_useKindlewastesNightSanctum" Change="(bool _) => OnChanged()"/>
        <RadzenLabel Text="Use Kindlewastes Night Sanctum" Component="chkUseKindlewastesNightSanctum"/>
    </div>

    <div>
        <RadzenCheckBox Name="chkUseAlbaneveSummitsNightSanctum" @bind-Value="@_useAlbaneveSummitsNightSanctum" Change="(bool _) => OnChanged()"/>
        <RadzenLabel Text="Use Albaneve Summits Night Sanctum" Component="chkUseAlbaneveSummitsNightSanctum"/>
    </div>

    <div>
        <RadzenCheckBox Name="chkUseVeilwaterBasinNightSanctum" @bind-Value="@_useVeilwaterBasinNightSanctum" Change="(bool _) => OnChanged()"/>
        <RadzenLabel Text="Use Veilwater Basin Night Sanctum" Component="chkUseVeilwaterBasinNightSanctum"/>
    </div>
</RadzenStack>
@if (_upgrades.Count > 0)
{
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Table">
                <RadzenDataGrid Data="@_upgrades" Style="margin-top: 1rem">
                    <Columns>
                        <RadzenDataGridColumn Width="20rem" Title="Gem Forge" Property="GemForge"/>
                        <RadzenDataGridColumn Title="Archaic Essence level" Property="ArchaicEssenceLevel" TextAlign="TextAlign.Center"/>
                        <RadzenDataGridColumn Title="Total cost" Property="TotalCost" TextAlign="TextAlign.Center"/>
                        <RadzenDataGridColumn Title="From level" Property="FromLevel" TextAlign="TextAlign.Center"/>
                        <RadzenDataGridColumn Title="To level" Property="ToLevel" TextAlign="TextAlign.Center"/>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Timeline">
                <RadzenTimeline LinePosition="LinePosition.Alternate">
                    <Items>
                        @foreach (Upgrade upgrade in _upgrades)
                        {
                            <RadzenTimelineItem PointStyle="PointStyle.Primary">
                                <LabelContent>@upgrade.FromLevel</LabelContent>
                            </RadzenTimelineItem>

                            <RadzenTimelineItem>
                                <LabelContent>
                                    Spend @upgrade.TotalCost Archaic Essence level @upgrade.ArchaicEssenceLevel<br/>
                                    at @upgrade.GemForge
                                </LabelContent>
                            </RadzenTimelineItem>
                        }
                        <RadzenTimelineItem PointStyle="PointStyle.Primary">
                            <LabelContent>50</LabelContent>
                        </RadzenTimelineItem>
                    </Items>
                </RadzenTimeline>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}