@using GameTools.Components.Pages.Diablo4.Models
@inherits BasePage

@page "/{profileIdString}/diablo4/eventtimers"

<PageTitle>GameTools :: Diablo 4 :: Event Timers</PageTitle>

@if (_events.Count > 0)
{
    <div id="d4-event-timers" class="d4-event-card-container">
        @foreach (Diablo4Event evt in _events)
        {
            if (evt.StartTime < DateTimeOffset.UtcNow)
            {
                continue;
            }

            if (evt is Diablo4Helltide helltide) {
                <div class="d4-event-card">
                    <div>Helltide</div>
                    <div class="d4-event-time" data-d4-start-time="@helltide.StartTime.ToUnixTimeMilliseconds()">@helltide.StartTime.LocalDateTime.ToString("g")</div>
                </div>
            }
            else if (evt is Diablo4Legion legion) {
                <div class="d4-event-card">
                    <div>Legion event</div>
                    <div class="d4-event-time" data-d4-start-time="@legion.StartTime.ToUnixTimeMilliseconds()">@legion.StartTime.LocalDateTime.ToString("g")</div>
                </div>
            }
            else if (evt is Diablo4WorldBoss worldBoss)
            {
                if (worldBoss.Zones.Count == 0)
                {
                    <div class="d4-event-card">
                        <div>@worldBoss.Name</div>
                        <div class="d4-event-time" data-d4-start-time="@worldBoss.StartTime.ToUnixTimeMilliseconds()">@worldBoss.StartTime.LocalDateTime.ToString("g")</div>
                    </div>
                }
                else
                {
                    foreach (Diablo4Zone zone in worldBoss.Zones)
                    {
                        string zoneBossName = string.IsNullOrWhiteSpace(zone.Boss) ? worldBoss.Name : zone.Boss;

                        <div class="d4-event-card">
                            <div>@zoneBossName</div>
                            <div class="d4-event-time" data-d4-start-time="@worldBoss.StartTime.ToUnixTimeMilliseconds()">@worldBoss.StartTime.LocalDateTime.ToString("g")</div>
                            <div class="d4-event-zone">Spawns in <a href="https://helltides.com/worldboss" target="_blank" rel="noopener noreferrer">@zone.Name</a></div>
                        </div>
                    }
                }
            }
        }
    </div>
}

